OLLAMA_BASE_URL=http://host.docker.internal:11434
LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_PROJECT=local-rag
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=0.0.0.0
